body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}
.header-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 40px 80px;
    margin: 0 auto;
}

.title{
    font-size: 80px;
    color: #575757;
}
.color-orange{
    color: #FBA24F;
}

.half-width p{
    text-align: justify;
    font-size: 25px;
}

.link-button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    padding: 15px 35px;
    border-radius: 25px;
}


/* About Me Section CSS */
.about-me-container{
    background-image: url(/img/background_frame.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.about-me{
    display: flex;
    width: 80%;
    margin: 0 auto;
    
}
.about-me-photo{
    width: 25%;
}
.about-me-photo img{
    height: 90%;
}

.half-width img{
    width: 100%;
}
/* About Me Section CSS */